<h1>Post List</h1>

<button onclick="location.href='/posts/new'" class="btn btn-primary new">New Post</button>
<div class="row">
	<div class="col-md-6 col-xs-6">
		<table class="table">
		  <tr>
		  	<th>No</th>
		    <th>Title</th>
		    <th>Text</th>
		    <th>Action</th>
		  </tr>
		 
		  <% @posts.each_with_index do |post,i| %>
		    <tr>
		      <td><%= i+1 %></td>
		      <td><%= post.title %></td>
		      <td><%= post.text %></td>
		      <td><%= link_to 'Show', post_path(post) %></td>
		    </tr>
		  <% end %>
		</table>
	</div>
	<div class="col-md-6 col-xs-6">
		 <%= image_tag("kraken.jpg", class: "img-fluid")%> 
	</div>
</div>